body {
  font-family: "Didact Gothic", sans-serif;
}

.row {
  display: flex;
  justify-content: left;
  align-items: center;
}

.row-stretched {
  justify-content: space-between;
}

.row-center {
  justify-content: center;
}

.text-title {
  font-family: "Gloria Hallelujah";
}

.text-center {
  text-align: center;
}

.text-black {
  color: initial;
}

.text-white {
  color: white;
}

.text-accent {
  color: #d64933;
}

.shadow {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.section {
  height: 100vh;
  padding: 50px 16px 16px;
}

.bg-primary {
  background-color: #58a4b0;
}

.bg-secondary {
  background-color: #0c7c59;
}

.bg-tertiary {
  background-color: #bac1b8;
}

.container {
  margin: auto;
  max-width: 1200px;
  height: 50%;
}

.card {
  padding: 2rem;
  background: white;
  border-radius: 8px;
}

.card-narrow {
  width: 200px;
}

.card-image {
  padding: 0;
  width: 400px;
  height: 250px;
  border-radius: 5px;
  object-fit: cover;
}

.standard-border {
  border: 1px solid #58a4b0;
}

.fancy-input {
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0);
  outline: none;
  height: 34px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
}

.fancy-input:focus {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #58a4b0;
}

.btn-primary,
.btn-secondary {
  cursor: pointer;
  border: none;
  width: 100px;
  height: 36px;
  line-height: 36px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.btn-primary {
  color: white;
  background: #58a4b0;
}

.btn-secondary {
  color: #58a4b0;
  background: white;
}

.d-block {
  display: block;
}

.m-t {
  margin-top: 1rem;
}

.m-r {
  margin-right: 1rem;
}

.m-l {
  margin-left: 1rem;
}

.m-l-sm {
  margin-left: 0.5rem;
}

.p-t {
  padding-top: 1rem;
}

.w-l {
  width: 32rem;
}

.w-m {
  width: 24rem;
}

.w-s {
  width: 16rem;
}

.w-xs {
  width: 8rem;
}

.navigation {
  height: 50px;
  background: #58a4b0;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 10px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.navigation-item {
  padding: 15px;
  color: white;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0.3rem;
}

.info {
  border-bottom: 1px solid #58a4b0;
  padding: 8px 0;
  color: #bac1b8;
}


